<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/dist/bar-nav.css">
    <link rel="stylesheet" href="../assets/dist/contact.css">
    <link rel="stylesheet" href="../assets/fontawesome/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap" rel="stylesheet">

    <title>Contact</title>
</head>
<body>

<header>
    <div id="container-bar-nav">
        <div>
            <span id="menu-dropdown-mobile"><i class="fa-solid fa-bars"></i></span>
        </div>
        <div id="hidden-bar">
            <span id="close-nav-mobile"><i class="fa-regular fa-circle-xmark"></i></span>
            <nav id="bar-nav">
                <div><b id="nav-name">Daniel Santiago Rodríguez</b><!--i id="dropdown" class="fa-solid"></i--></div>
                <ul>
                    <li><a href="#"><i class="fa-sharp fa-solid fa-home"></i>
                        <p class="items">Inicio</p></a></li>
                    <li><a href="#"><i class="fa-sharp fa-solid fa-user"></i>
                        <p class="items">Sobre mi</p></a>
                    </li>
                    <li><a href="#"><i class="fa-sharp fa-solid fa-code"></i>
                        <p class="items">Proyectos</p></a>
                    </li>
                    <li><a href="#"><i class="fa-sharp fa-solid fa-home"></i>
                        <p class="items">Blog</p></a>
                    </li>
                    <li><a href="/view/contact.html"><i class="fa-sharp fa-solid fa-inbox"></i>
                        <p class="items">Contacto</p></a>
                    </li>
                </ul>

                <div id="social-media">
                    <ul>
                        <li><a href="https://github.com/Danrodriguez04/Danrodriguez04.github.io" target="_blank"><i
                                class="fa-brands fa-github"></i></a>
                        </li>
                        <li><a href="www.linkedin.com/in/daniel-santiago-rodríguez-bbb067221" target="_blank"><i
                                class="fa-brands fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>

<main>
    <div id="container-form">
        <form>
            <label></label>
            <input type="text" placeholder="Your Name">
            <input type="email" placeholder="Email" >
            <input type="tel" placeholder="Phone">

            <textarea>

            </textarea>
            <button>Send Message <i class="fa-solid fa-paper-plane"></i></button>
        </form>
    </div>
</main>


<script type="module">
    'use strict';
    import {dropdownMobile} from "../assets/js/utils.js";

    (()=>{
        dropdownMobile();
    })();



</script>

</body>
</html>