<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/dist/index.css">
    <link rel="stylesheet" href="../assets/fontawesome/css/all.css">
    <title>Portfolio</title>
</head>
<body>

<div id="bar-nav">
    <nav>
        <div><b id="nav-name">Daniel Santiago Rodríguez</b><i id="dropdown" class="fa-solid fa-angle-left"></i></div>
        <ul>
            <li><a href="#"><i class="fa-sharp fa-solid fa-home"></i>
                <p>Inicio</p></a></li>
            <li><a href="#"><i class="fa-sharp fa-solid fa-user"></i>
                <p>Sobre mi</p></a>
            </li>
            <li><a href="#"><i class="fa-sharp fa-solid fa-code"></i>
                <p>Proyectos</p></a>
            </li>
            <li><a href="#"><i class="fa-sharp fa-solid fa-home"></i>
                <p>Blog</p></a>
            </li>
            <li><a href="#"><i class="fa-sharp fa-solid fa-inbox"></i>
                <p>Contacto</p></a>
            </li>
        </ul>

        <div id="social-media">
            <ul>
                <li><a href="https://github.com/Danrodriguez04/Danrodriguez04.github.io" ><i class="fa-brands fa-github"></i></a>
                </li>

            </ul>
        </div>
    </nav>
</div>

<header>
    <b id="profession">Web developer</b>
    <h1>Daniel Santiago Rodriguez</h1>
    <p></p>
    <div>
        <a href="mailto:danielsantiagorodriguez72@gmail.com"><i class="fa-solid fa-inbox"></i>Contactar</a>
        <a href=""><i class="fa-solid fa-phone"></i>Ver CV</a>
    </div>
</header>

<main>
    <div id="projects">
        <h2>Proyectos</h2>
        <div id="project-list"></div>
    </div>

    <div id="skills">
        <h2>Skills</h2>
        <div id="skills-list"></div>
    </div>
</main>

</body>
</html>