<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/dist/index.css">
    <link rel="stylesheet" href="../assets/fontawesome/css/all.css">
    <title>Portfolio</title>
</head>
<body>

<div id="bar-nav">
    <nav>
        <div><b id="nav-name">Daniel Santiago Rodríguez</b></div>
        <ul>
            <li><i class="fa-sharp fa-solid fa-home"></i><p>Inicio</p></li>
            <li><i class="fa-sharp fa-solid fa-home"></i><p>Sobre mi</p></li>
            <li><i class="fa-sharp fa-solid fa-home"></i><p>Proyectos</p></li>
            <li><i class="fa-sharp fa-solid fa-home"></i><p>Blog</p></li>
            <li><i class="fa-sharp fa-solid fa-user"></i><p>Contacto</p></li>
        </ul>

        <ul>
            <li><a href="https://github.com/Danrodriguez04/Danrodriguez04.github.io"><i class="fa-brands fa-github"></i></a></li>
        </ul>
    </nav>
</div>

<header>
    <b id="profession">Web developer</b>
    <h1>Daniel Santiago Rodriguez</h1>
    <p></p>
    <div>
        <a href="mailto:danielsantiagorodriguez72@gmail.com"><i class="fa-solid fa-inbox"></i>Contactar</a>
        <a href=""><i class="fa-solid fa-phone"></i>Ver CV</a>
    </div>
</header>

<main>

</main>

<footer></footer>
</body>
</html>